<!DOCTYPE HTML>
<html>
<head>
<title>Arsenal Roster</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/bootstrapV4.css" rel="stylesheet">
<link rel="stylesheet" href="css/font-awesome.css" />
<link rel="stylesheet" href="css/jquery.dataTables.css" />
<link href="css/style.css" rel="stylesheet">
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/jquery.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrapV4.js"></script>
<script src="js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/toastr.js"></script>
<script src="js/models/PlayerModel.js"></script>
<script src="js/views/PlayerView.js"></script>
<script src="js/Main.js"></script>
<script src="js/views/MainView.js"></script>
<script src="js/views/PlayerDetailsView.js"></script>
<script src="js/views/AddNewPlayerView.js"></script>
<script src="js/views/PlayerTableView.js"></script>
<script src="js/views/NavBarView.js"></script>
<script src="js/views/PlayerGridView.js"></script>
<script type="text/template" id="player_list">
	<td> <%= id %> </td>
	<td><%= squadNumber %></td>
	<td><%= firstName %></td>
	<td><%= lastName %></td>
	<td><%= age %></td>
	<td><%= playingPosition %></td>
	<td><%= nationality %></td>
	<td><%= goals %></td>
	<td><%= assists %></td>
	<td><%= appearances %></td>
	<td><%= image %></td>
	<td><button style="min-width:110px; width:140px" class="btn btn-success editDetails" href="#" id="editPlayerMain">Edit<i class="fa fa-edit"></i></button></td>
</script>
<script type="text/template" id="player-details">
<div class="modal fade" id="editPlayerModal" tabindex="-1"
					role="dialog" aria-labelledby="myEditLabel" aria-hidden="true"
					style="z-index: 20000;">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="add-div">
								<h4>
									<button type="button" data-toggle="popover"
										data-trigger="hover"
										data-content="Click here to add a new Player!"
										class="btn btn-success" id="addNewPlayerInModal">Add New
										Player</button>
								</h4>
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">×</button>
							</div>
							<div class="modal-header">
								<h4 class="modal-title" id="myEditLabel">Edit Player
									Details:</h4>
							</div>
							<div class="modal-body">
								<div id="alert_edit_placeholder"></div>
								<form class="form-horizontal" method="post">
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>
												ID:</strong></label> <input type="number" style="height: 32px;" name="idEdit"
											id="idEdit" disabled value="<%= id %>"/>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>
												Squad Number:</strong></label> <input type="number" style="height: 32px;"
											name="squadNumberEdit" id="squadNumberEdit" value="<%= squadNumber %>"/>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>First
												Name:</strong></label> <input type="text" style="height: 32px;"
											name="firstNameEdit" id="firstNameEdit" value="<%= firstName %>"/>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>
												Last Name:</strong></label> <input type="text" style="height: 32px;"
											name="lastNameEdit" id="lastNameEdit" value="<%= lastName %>" />
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>
												Age:</strong></label> <input type="number" style="height: 32px;" name="ageEdit"
											id="ageEdit" value="<%= age %>"/>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>
												Position:</strong></label> <input type="text" style="height: 32px;" name="positionEdit"
											id="positionEdit" value="<%= playingPosition %>"/>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>
												Nationality:</strong></label> <input type="text" style="height: 32px;"
											name="editNationality" id="editNationality" value="<%= nationality %>"/>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>
												Goals:</strong></label> <input type="number" style="height: 32px;"
											name="editGoals" id="editGoals" value="<%= goals %>" />
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>
												Assists:</strong></label> <input type="number" style="height: 32px;"
											name="editAssists" id="editAssists" value="<%= assists %>"/>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>
												Appearances:</strong></label> <input type="number" style="height: 32px;"
											name="editAppearances" id="editAppearances" value="<%= appearances %>"/>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>
												Image:</strong></label> <input type="text" style="height: 32px;"
											name="editImage" id="editImage" value="<%= image %>"/>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" data-toggle="popover" data-trigger="hover"
									data-content="Click here to update Player!"
									class="btn btn-success" id="savePlayer">Save Details</button>
								<button type="button" data-toggle="popover" data-trigger="hover"
									data-content="Click here to delete this player"
									class="btn btn-danger" id="deletePlayer">Delete</button>
							</div>
						</div>
					</div>
				</div>
</script>

<script type="text/template" id="playerRegistrationTemplate">
			<br />
			<button type="button" data-toggle="popover" data-trigger="hover"
				data-content="Click here to add a new Player!"
				class="btn btn-success" id="addNewPlayer">Add New Player</button>
			<hr />
					<div class="modal fade" id="playerRegistrationForm" tabindex="-1"
					role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
					style="z-index: 20000;">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="myModalLabel">Player
									Registration:</h4>
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">×</button>
							</div>
							<div class="modal-body">
								<form class="form-horizontal" method="post">
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>
												Squad Number:</strong></label> <input type="number" style="height: 32px;"
											name="squadnumber" id="squadNumber" />
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>First
												Name:</strong></label> <input type="text" style="height: 32px;"
											name="firstName" id="firstName" />
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>
												Last Name:</strong></label> <input type="text" style="height: 32px;"
											name="lastName" id="lastName" />
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>
												Age:</strong></label> <input type="number" style="height: 32px;" name="age"
											id="age" />
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>
												Position:</strong></label> <select class="browser-default" id="position">
											<option value="Goal Keeper" selected>Goal Keeper</option>
											<option value="Defender">Defender</option>
											<option value="Midfielder">Midfielder</option>
											<option value="Forward">Forward</option>
										</select>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>
												Nationality:</strong></label> <input type="text" style="height: 32px;"
											name="nationality" id="nationality" />
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>
												Goals:</strong></label> <input type="number" style="height: 32px;" name="goals"
											id="goals" />
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>
												Assists:</strong></label> <input type="number" style="height: 32px;"
											name="assists" id="assists" />
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>
												Appearances:</strong></label> <input type="number" style="height: 32px;"
											name="appearances" id="appearances" />
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label"><strong>
												Image:</strong></label> <input type="text" style="height: 32px;"
											name="image" id="image" />
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-success"
									id="addPlayerButton">Add Player</button>
								<button type="button" class="btn btn-danger"
									data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
</script>
<script type="text/template" id="playerTable">
<table id="playerManagementTable" class="table table-condensed table-striped table-hover">
				<thead>
					<tr class="headers">
						<th>ID</th>
						<th>Squad Number</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Age</th>
						<th>Position</th>
						<th>Nationality</th>
						<th>Goals</th>
						<th>Assists</th>
						<th>Appearances</th>
						<th>Image</th>
						<th>Edit</th>
					</tr>
				</thead>
				<tbody id="playerTableBody">
				</tbody>
</table>
</script>
<script type="text/template" id="navTemplate">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item"><a class="nav-link active"
				data-toggle="tab" href="#home" role="tab" aria-controls="home"><span
					class="fa fa-home fa-lg"></span> Home</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="tab"
				href="#players" role="tab" aria-controls="players"><span
					class="fa fa-soccer-ball-o fa-lg"></span> Players</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="tab"
				href="#admin" role="tab" aria-controls="admin"><span
					class="fa fa-user-circle fa-lg"></span> Admin</a></li>
		</ul>
</script>
<script type="text/template" id="gridTemplate">
	<div class = "col-sm-6 col-md-4 col-lg-3">
				<div class = "card">
					<img src='images/<%= image %>'height="400">
					<p>Squad Number: <%= squadNumber %></p>
					<p>First Name: <%= firstName %></p>
					<p>Last Name: <%= lastName %></p>
				</div>
	</div>
</script>
<link href="css/toastr.css" rel="stylesheet" />
</head>
<body>
	<header>
		<div id="headerDiv" class="centre">
			<h1 display="inline">
				<img src="images/ArsenalLogo.png" height="100" width="100">Arsenal Roster System
			</h1>
		</div>
	</header>
	<div id = "NavDiv"></div>
	<div class="tab-content">
		<div class="tab-pane active" id="home" role="tabpanel">
		</div>
		<div class="tab-pane" id="players" role="tabpanel">
				
		<br/>
		</div>
		<div class="tab-pane" id="admin" role="tabpanel">
			<div id="addButtonDiv"></div>
			<section id ="MainArea"> </section>
			<div id="alert_placeholder"></div>
			<div id="TableDiv">
			</div>
		</div>
		</div>
</body>
</html>