<h1>arsenalroster-app</h1>
<h2>What is it?</h2>
<p>This is your project! It's a sample, deployable Maven 3 project to help you
get your foot in the door developing with Java EE 6 on JBoss AS 7. This 
project is setup to allow you to create a compliant Java EE 6 application 
using JSF 2.0, CDI 1.0, EJB 3.1, JPA 2.0 and Bean Validation 1.0. It includes
a persistence unit and some sample persistence and transaction code to help 
you get your feet wet with database access in enterprise Java. </p>
<h2>System requirements</h2>
<p>All you need to build this project is Java 6.0 (Java SDK 1.6) or better, Maven
3.0 or better.</p>
<p>The application this project produces is designed to be run on a JBoss AS 7. </p>
<p>NOTE:
This project retrieves some artifacts from the JBoss Community Maven repository.</p>
<p>With the prerequisites out of the way, you're ready to build and deploy.</p>
<h2>Deploying the application</h2>
<p>First you need to start JBoss AS 7. To do this, run</p>
<pre><code>$JBOSS_HOME/bin/standalone.sh
</code></pre>
<p>or if you are using windows</p>
<pre><code>$JBOSS_HOME/bin/standalone.bat
</code></pre>
<p>To deploy the application, you first need to produce the archive to deploy using
the following Maven goal:</p>
<pre><code>mvn package
</code></pre>
<p>You can now deploy the artifact to JBoss AS by executing the following command:</p>
<pre><code>mvn jboss-as:deploy
</code></pre>
<p>This will deploy <code>target/arsenalroster-app.war</code>.</p>
<p>The application will be running at the following URL <a href="http://localhost:8080/arsenalroster-app/">http://localhost:8080/arsenalroster-app/</a>.</p>
<p>To undeploy from JBoss AS, run this command:</p>
<pre><code>mvn jboss-as:undeploy
</code></pre>
<p>You can also start JBoss AS 7 and deploy the project using Eclipse. See the JBoss AS 7
Getting Started Guide for Developers for more information.</p>
<h1>Running the Arquillian tests</h1>
<p>By default, tests are configured to be skipped. The reason is that the sample
test is an Arquillian test, which requires the use of a container. You can
activate this test by selecting one of the container configuration provided 
for JBoss AS 7 (remote).</p>
<p>To run the test in JBoss AS 7, first start a JBoss AS 7 instance. Then, run the
test goal with the following profile activated:</p>
<pre><code>mvn clean test -Parq-jbossas-remote
</code></pre>
<h1>Importing the project into an IDE</h1>
<p>If you created the project using the Maven archetype wizard in your IDE
(Eclipse, NetBeans or IntelliJ IDEA), then there is nothing to do. You should
already have an IDE project.</p>
<p>If you created the project from the commandline using archetype:generate, then
you need to import the project into your IDE. If you are using NetBeans 6.8 or
IntelliJ IDEA 9, then all you have to do is open the project as an existing
project. Both of these IDEs recognize Maven projects natively.</p>
<p>Detailed instructions for using Eclipse with JBoss AS 7 are provided in the 
JBoss AS 7 Getting Started Guide for Developers.</p>
<h1>Downloading the sources and Javadocs</h1>
<p>If you want to be able to debug into the source code or look at the Javadocs
of any library in the project, you can run either of the following two
commands to pull them into your local repository. The IDE should then detect
them.</p>
<pre><code>mvn dependency:sources
mvn dependency:resolve -Dclassifier=javadoc
</code></pre>